<div class="p-grid">
  <div class=" p-col-12">
    <dt-toolbar (addButtonEmitter)="addElement()"></dt-toolbar>
  </div>
  <div *ngIf="isAdding" class="p-col-12 article">
    <dt-new [noticia]="noticiaVacia" [editMode]="true" (cancelEmitter)="cancelAddingElement()" (addEmitter)="saveNewElement()"></dt-new>
  </div>
  <div class="p-col-6 article" *ngFor="let noticia of newsArray">
    <dt-new [noticia]="noticia" [editMode]="false" (deleteEmitter)="deleteElement(noticia.id)"></dt-new>
  </div>
</div>
