dt-new {
  .article {
    height: 20em;
    margin-right: .5em;
    margin-left: .5em;
    background-color: #f3f3f3;
  }
  .article-text {
    height: 20em;
    margin-right: .5em;
    margin-left: .5em;
    background-color: #f3f3f3;
  }
  .title {
    font-size: 1.5em;
    font-family: Valencia,Times New Roman,Times,serif;
    font-style: normal;
  }
  .body {
    font-size: 1.25em;
    font-family: Valencia,Times New Roman,Times,serif;
    font-style: normal;
  }
  .body-edit {
    font-size: 1.25em;
    min-height: 50%;
  }
  .url {
    font-size: 1.25em;
  }

  .publisher {
    text-align: right;
  }
  .image {
    height: 100%;
  }
  .image-src {
    width: 19em;
    height: 19em;
  }
  img {
    object-fit: cover;
    width: 19em;
    height: 19em;
  }

  .p-button-success {
    margin-right: 1em;
  }

  .width100 {
    width: 100%;
  }

  .height100 {
    height: 100%;
  }
}
