dt-new {
  .new {
    background-color: lightgrey;
  }
  .title {
    font-size: 2em;
    min-height: 20%;
  }
  .body {
    font-size: 1.25em;
    min-height: 70%;
  }
  .image {
    height: 100%;
  }
  .source {
    min-height: 10%;
  }
  .publisher {
    min-height: 10%;
  }

  img {
    object-fit: cover;
    width: 20em;
    height: 20em;
  }

  .p-button-success {
    margin-right: 1em;
  }
}
